numpy
sounddevice
soundfile
piper-tts
faster-whisper
llama-cpp-python[server]
librosa
langchain
langchain_openai
langgraph
customtkinter
pillow>=11.0.0
opencv-python

# Comment out if not running on a Pi
picamera2